CompileFlags:
	Add: [ -Wall, -Wextra, -Waggregate-return, -Wcast-align, -Wcast-qual, -Wdisabled-optimization, -Wdiv-by-zero, -Wendif-labels, -Wformat-extra-args, -Wformat-nonliteral, -Wformat-security, -Wformat-y2k, -Wimplicit, -Wimport, -Winit-self, -Winline, -Winvalid-pch, -Wjump-misses-init, -Wlogical-op, -Werror=missing-braces, -Wmissing-declarations, -Wno-missing-format-attribute, -Wmissing-include-dirs, -Wmultichar, -Wpacked, -Wpointer-arith, -Wreturn-type, -Wsequence-point, -Wsign-compare, -Wstrict-aliasing, -Wstrict-aliasing=2, -Wswitch, -Wswitch-default, -Werror=undef, -Wno-unused, -Wvariadic-macros, -Wwrite-strings, -Wc++-compat, -Werror=implicit-function-declaration, -Wno-missing-prototypes, -Werror=nested-externs, -Werror=old-style-definition, -Werror=strict-prototypes, -std=gnu17, -xc, -Wno-gnu-pointer-arith, -Wno-incompatible-pointer-types-discards-qualifiers, -Wno-cast-qual, -Wno-unused-parameter ]
