CompileFlags:
  Add: [ -DKERNEL, -std=gnu++2c, -Wall, -Wextra, -Wshadow, -Wno-missing-braces, -Wunused-variable, -Wunused-but-set-variable, -Wno-unused-function, -Wno-address-of-packed-member, -Wno-incompatible-library-redeclaration, -Wno-unused-parameter, -Wno-main-return-type, -nostdlib, -nostdinc ]
